extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let animalsid = toShow._id
    - let animalName = toShow.animalName
    - let animalAge = toShow.animalAge
    - let animalCost = toShow.animalCost
    - let actionid = "/resource/animals/" + animalsid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='animalsAttr mr-3') animal ID is:
        div #{animalsid}
      div.row
        div(class='animalsAttr mr-3') animal Name is:
        div #{animalName}
      div.row
        div(class='animalsAttr mr-3') animal Age is:
        div #{animalAge}
      div.row
        div(class='animalsAttr mr-3') animal cost is:
        div #{animalCost}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the restaurant collection
        window.location.href='/animals'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/animals'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete Succeeded"  )
        });
      }